body {
  margin:0px;
  background-color:rgba(0, 0, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:558px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:662px;
}
#u183 {
  position:absolute;
  left:10px;
  top:8px;
  width:548px;
  height:662px;
}
#u184 {
  position:absolute;
  left:2px;
  top:323px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
