body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1492 {
  position:absolute;
  left:35px;
  top:123px;
  width:306px;
  height:530px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:257px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:138px;
}
#u1494 {
  position:absolute;
  left:24px;
  top:230px;
  width:326px;
  height:138px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:61px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1496 {
  position:absolute;
  left:35px;
  top:123px;
  width:306px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:16px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1499 {
  position:absolute;
  left:35px;
  top:99px;
  width:306px;
  height:24px;
}
#u1500 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1502 {
  position:absolute;
  left:41px;
  top:108px;
  width:5px;
  height:5px;
}
#u1503 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1504 {
  position:absolute;
  left:49px;
  top:108px;
  width:5px;
  height:5px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1506 {
  position:absolute;
  left:57px;
  top:108px;
  width:5px;
  height:5px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1508 {
  position:absolute;
  left:65px;
  top:108px;
  width:5px;
  height:5px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1510 {
  position:absolute;
  left:73px;
  top:108px;
  width:5px;
  height:5px;
}
#u1511 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1513 {
  position:absolute;
  left:310px;
  top:106px;
  width:22px;
  height:10px;
}
#u1514 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1515 {
  position:absolute;
  left:314px;
  top:109px;
  width:14px;
  height:4px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1517 {
  position:absolute;
  left:332px;
  top:109px;
  width:3px;
  height:4px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1519 {
  position:absolute;
  left:84px;
  top:105px;
  width:51px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1520 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1521 {
  position:absolute;
  left:164px;
  top:105px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1523 {
  position:absolute;
  left:272px;
  top:105px;
  width:65px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1524 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1525 {
  position:absolute;
  left:126px;
  top:133px;
  width:124px;
  height:24px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:4px;
  width:120px;
  word-wrap:break-word;
}
#u1527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1527 {
  position:absolute;
  left:35px;
  top:170px;
  width:306px;
  height:50px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:18px;
  width:302px;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1529 {
  position:absolute;
  left:134px;
  top:170px;
  width:1px;
  height:50px;
}
#u1530 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1531 {
  position:absolute;
  left:240px;
  top:170px;
  width:1px;
  height:50px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1536 {
  position:absolute;
  left:35px;
  top:170px;
  width:99px;
  height:50px;
}
#u1537 {
  position:absolute;
  left:2px;
  top:17px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1538 {
  position:absolute;
  left:24px;
  top:390px;
  width:318px;
  height:257px;
}
#u1539 {
  position:absolute;
  left:2px;
  top:120px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:93px;
}
#u1541 {
  position:absolute;
  left:10px;
  top:6px;
  width:355px;
  height:93px;
}
#u1542 {
  position:absolute;
  left:2px;
  top:38px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:548px;
}
#u1543 {
  position:absolute;
  left:10px;
  top:99px;
  width:25px;
  height:548px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:266px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:548px;
}
#u1545 {
  position:absolute;
  left:341px;
  top:99px;
  width:24px;
  height:548px;
}
#u1546 {
  position:absolute;
  left:2px;
  top:266px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:89px;
}
#u1547 {
  position:absolute;
  left:10px;
  top:647px;
  width:355px;
  height:89px;
}
#u1548 {
  position:absolute;
  left:2px;
  top:36px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:179px;
}
#u1549 {
  position:absolute;
  left:93px;
  top:429px;
  width:180px;
  height:179px;
}
#u1550 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1551 {
  position:absolute;
  left:57px;
  top:401px;
  width:59px;
  height:18px;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:88px;
}
#u1553 {
  position:absolute;
  left:390px;
  top:450px;
  width:160px;
  height:88px;
  font-size:14px;
  color:#FFFFFF;
}
#u1554 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u1555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u1555 {
  position:absolute;
  left:264px;
  top:499px;
  width:140px;
  height:1px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:88px;
}
#u1557 {
  position:absolute;
  left:430px;
  top:260px;
  width:160px;
  height:88px;
  font-size:14px;
  color:#FFFFFF;
}
#u1558 {
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u1559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:2px;
}
#u1559 {
  position:absolute;
  left:304px;
  top:309px;
  width:126px;
  height:1px;
}
#u1560 {
  position:absolute;
  left:2px;
  top:-8px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:88px;
}
#u1561 {
  position:absolute;
  left:377px;
  top:99px;
  width:160px;
  height:88px;
  font-size:14px;
  color:#FFFFFF;
}
#u1562 {
  position:absolute;
  left:2px;
  top:35px;
  width:156px;
  word-wrap:break-word;
}
#u1563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:2px;
}
#u1563 {
  position:absolute;
  left:251px;
  top:148px;
  width:126px;
  height:1px;
}
#u1564 {
  position:absolute;
  left:2px;
  top:-8px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
